# Use Pandas for ETL

Now itâ€™s time to write some simples ETL jobs for data analysis. Our scope is to create a fact table (denormalized) in our presentation area.

In this notebook we will discuss which process steps (divided into extract, transform and load) we have to do to clean the source data, aggregate the records and, finally, load our records in our Document Store.

Overview of our ETL steps:

![picture](https://drive.google.com/uc?id=1h60hvtzWmZYHJyuOaONpYiyNLmsQTlje)

 ## Load and extract the source file

First of all we need to load raw data (from CSV files) into our environment.

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving ds_project_details_full.csv to ds_project_details_full.csv

In [ ]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "ds_project_details_full.csv" with length 2019128 bytes

Most of our ETL code revolve around using the following functions:
- drop_duplicates
- dropna
- replace / fillna
- df[df['column'] != value]: filtering
- apply: transform, or adding new column
- merge: SQL like inner, left, or right join
- groupby
- read_csv / to_csv

Functions like drop_duplicates and drop_na are nice abstractions and save tens of SQL statements.
And replace / fillna is a typical step that to manipulate the data array.

All these features are available from pandas.

In [ ]:
import pandas as pd
import io

In [ ]:
ds_project_details_full = pd.read_csv('/content/ds_project_details_full.csv')
pd.read_sql("select campo, count(*) from tabella group by campo")

In [ ]:
ds_project_details_full = pd.read_csv(io.BytesIO(uploaded['ds_project_details_full.csv']))

In [ ]:
ds_project_details_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            4600 non-null   int64
 1   bullet_point          1 non-null      object
 2   category              4600 non-null   object
 3   category_url          4600 non-null   object
 4   clickthrough_url      4600 non-null   object
 5   close_date            4599 non-null   object
 6   currency              4600 non-null   object
 7   funds_raised_amount   4600 non-null   int64
 8   funds_raised_percent  4600 non-null   float64
 9   image_url             4600 non-null   object
 10  is_indemand           4600 non-null   bool
 11  is_pre_launch         4600 non-null   bool
 12  offered_by            0 non-null      float64
 13  open_date             4599 non-null   object
 14  perk_goal_percentage  1 non-null      float64
 15  perks_claimed         1 non-null      float64
 16  price_offered         0 non-null      float64
 17  price_retail          0 non-null      float64
 18  product_stage         0 non-null      float64
 19  project_id            4600 non-null   int64
 20  project_type          4600 non-null   object
 21  tagline               4597 non-null   object
 22  tags                  4597 non-null   object
 23  title                 4599 non-null   object
dtypes: bool(2), float64(7), int64(3), object(12)
memory usage: 799.7+ KB

Data processing is often exploratory.
We need to see the shape of the data, and write our next line of code based on our previous output. So the process is iterative.

One tool that Python + Pandas comes in handy is Jupyter Notebook or Google Colab.

In [ ]:
ds_project_details_full.head()

   Unnamed: 0  ...                                        title
0           0  ...                             Super Troopers 2
1           1  ...                                      Con Man
2           2  ...    The Camera Pack: Peter McKinnon X NOMATIC
3           3  ...                                     The Book
4           4  ...  Code 8 - a film from Robbie & Stephen Amell

[5 rows x 24 columns]

In [ ]:
number_of_records = ds_project_details_full.shape[0]
print(f"Number of records loaded {number_of_records}")

Number of records loaded 4600

## Transform

After loading the raw data, let's go do the initial cleaning tasks.

Since we want to upload the data to MongoDB, we should immediately add a unique identifier (_id on MongoDB).

The operations we will do are to create our staging table **st_projects** where:
- we do not allow **duplicates**
- we select only the **necessary columns**
- remove **anomalous records**

In [ ]:
# Add the id
ds_project_details_full['_id'] = ds_project_details_full['project_id']

In [ ]:
# Remove duplicates
ds_project_no_duplicates = ds_project_details_full.drop_duplicates(subset=['title'])
ds_project_no_duplicates = ds_project_no_duplicates.drop_duplicates(subset=['tagline'])

In [ ]:
number_of_records_without = ds_project_no_duplicates.shape[0]
print(f"-- Number of records without duplicates {number_of_records_without}")

-- Number of records without duplicates 4562

In [ ]:
ds_project_no_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4562 entries, 0 to 4599
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            4562 non-null   int64
 1   bullet_point          1 non-null      object
 2   category              4562 non-null   object
 3   category_url          4562 non-null   object
 4   clickthrough_url      4562 non-null   object
 5   close_date            4561 non-null   object
 6   currency              4562 non-null   object
 7   funds_raised_amount   4562 non-null   int64
 8   funds_raised_percent  4562 non-null   float64
 9   image_url             4562 non-null   object
 10  is_indemand           4562 non-null   bool
 11  is_pre_launch         4562 non-null   bool
 12  offered_by            0 non-null      float64
 13  open_date             4561 non-null   object
 14  perk_goal_percentage  1 non-null      float64
 15  perks_claimed         1 non-null      float64
 16  price_offered         0 non-null      float64
 17  price_retail          0 non-null      float64
 18  product_stage         0 non-null      float64
 19  project_id            4562 non-null   int64
 20  project_type          4562 non-null   object
 21  tagline               4561 non-null   object
 22  tags                  4559 non-null   object
 23  title                 4562 non-null   object
 24  _id                   4562 non-null   int64
dtypes: bool(2), float64(7), int64(4), object(12)
memory usage: 864.3+ KB

In [ ]:
# Select only some features
ds_project_features = ds_project_no_duplicates[['_id', 'project_id', 'title',
                                                'tags', 'tagline', 'open_date', 'funds_raised_amount',
                                                'funds_raised_percent', 'currency', 'close_date', 'category']]

In [ ]:
ds_project_features.head()

       _id  project_id  ...                 close_date               category
0  1166581     1166581  ...  2015-04-24T23:59:59-07:00                   Film
1  1143140     1143140  ...  2015-04-10T23:59:59-07:00  Web Series & TV Shows
2  2558245     2558245  ...  2019-11-14T23:59:59-08:00            Photography
3  2650630     2650630  ...  2021-01-04T23:59:59-08:00   Writing & Publishing
4  1676513     1676513  ...  2016-04-23T23:59:59-07:00                   Film

[5 rows x 11 columns]

In [ ]:
# Remove noise
ds_project_cleaned = ds_project_features[(ds_project_features['funds_raised_percent'] > 0) & (ds_project_features['funds_raised_percent'] < 1000)]

In [ ]:
# Remove null values in title
ds_project_cleaned = ds_project_cleaned[ds_project_cleaned.tagline.notnull()]

In [ ]:
number_of_records_without_noise = ds_project_cleaned.shape[0]
print(f"-- Number of records without noise {number_of_records_without_noise}")

-- Number of records without noise 4559

# Load data in MongoDB

Now the records are ready, following a Big Data approach:
- we load the raw, raw data on a table with all the source data (**sc_projects**)
- load the clean data in the staging table **st_projects**

For the connection to MongoDB we will use the **pymongo** library.

In [ ]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (3.11.4)

In [ ]:
import pymongo
import json
from pymongo import UpdateOne

In [ ]:
client = pymongo.MongoClient("mongodb://xxxxx:xxxx@xxxxx:27017,xxxxx:27017,xxxx:27017/myFirstDatabase?ssl=true&replicaSet=atlas-14k1wg-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.indiegogo

The data on MongoDB is in bson (**binary json**) format.

We convert our dataframe pandas in json and create the list of update or insert on our collection.

In [ ]:
records = json.loads(ds_project_details_full.T.to_json()).values()
upserts=[UpdateOne({'_id':x['_id']}, {'$setOnInsert':x}, upsert=True) for x in records]
db.sc_project.bulk_write(upserts)

In [ ]:
records = json.loads(ds_project_cleaned.T.to_json()).values()
upserts=[UpdateOne({'_id':x['_id']}, {'$setOnInsert':x}, upsert=True) for x in records]
db.st_project_cleaned.bulk_write(upserts)

# Extract and load image details

We perform the same work now on the list of concepts extracted with the API from the images,

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving ds_img_details_full.csv to ds_img_details_full.csv

In [ ]:
ds_img_details_full = pd.read_csv(io.BytesIO(uploaded['ds_img_details_full.csv']))

In [ ]:
ds_img_details_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16840 entries, 0 to 16839
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16840 non-null  int64
 1   project_id  16840 non-null  int64
 2   image       16840 non-null  object
 3   name        16840 non-null  object
 4   value       16840 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 657.9+ KB

In [ ]:
number_of_records = ds_img_details_full.shape[0]
print(f"Number of records loaded {number_of_records}")

Number of records loaded 16840

In [ ]:
ds_img_details_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16840 entries, 0 to 16839
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16840 non-null  int64
 1   project_id  16840 non-null  int64
 2   image       16840 non-null  object
 3   name        16840 non-null  object
 4   value       16840 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 657.9+ KB

In [ ]:
ds_img_details_full.head()

   Unnamed: 0  project_id      image          name     value
0           0           0  img_1.jpg           lid  0.990656
1           1           0  img_1.jpg        banner  0.980789
2           2           0  img_1.jpg        people  0.977013
3           3           0  img_1.jpg  illustration  0.971107
4           4           0  img_1.jpg          bill  0.957037

In [ ]:
records = json.loads(ds_img_details_full.T.to_json()).values()
db.sc_images.inser_many(upserts)

In [ ]:
ds_images_aggregate.head()

   project_id  ...                                         percentage
0           0  ...  [0.9906558394432068, 0.9807890057563782, 0.977...
1           1  ...  [0.99273282289505, 0.9925555586814879, 0.98146...
2           2  ...  [0.9879783391952516, 0.9782440662384032, 0.975...
3           3  ...  [0.993301510810852, 0.9862145781517028, 0.9824...
4           4  ...  [0.9896831512451172, 0.9793283343315125, 0.975...

[5 rows x 4 columns]

In [ ]:
ds_img_details_full['concepts'] = ds_img_details_full. \
  apply(lambda row: {'name': row['name'], 'value': row['value']}, axis=1)

In [ ]:
ds_img_details_full.head()

   Unnamed: 0  ...                                           concepts
0           0  ...       {'name': 'lid', 'value': 0.9906558394432068}
1           1  ...    {'name': 'banner', 'value': 0.9807890057563782}
2           2  ...    {'name': 'people', 'value': 0.9770132899284364}
3           3  ...  {'name': 'illustration', 'value': 0.9711065888...
4           4  ...      {'name': 'bill', 'value': 0.9570372700691224}

[5 rows x 6 columns]

In [ ]:
ds_images_aggregate = ds_img_details_full.groupby('project_id')['concepts'].apply(list).reset_index(name="concepts")

In [ ]:
ds_images_aggregate.head()

   project_id                                           concepts
0           0  [{'lid': 0.9906558394432068}, {'banner': 0.980...
1           1  [{'man': 0.99273282289505}, {'portrait': 0.992...
2           2  [{'people': 0.9879783391952516}, {'one': 0.978...
3           3  [{'illustration': 0.993301510810852}, {'art': ...
4           4  [{'retro': 0.9896831512451172}, {'dirty': 0.97...

Document databases also admit complex data types, so we go to load our records, where we have an array of concepts.

In [ ]:
ds_images_aggregate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   project_id  842 non-null    int64
 1   concepts    842 non-null    object
dtypes: int64(1), object(1)
memory usage: 13.3+ KB

In [ ]:
ds_images_aggregate['_id'] = ds_images_aggregate['project_id']

In [ ]:
records = json.loads(ds_images_aggregate.T.to_json()).values()
upserts=[UpdateOne({'_id':x['_id']}, {'$setOnInsert':x}, upsert=True) for x in records]
db.st_concepts.bulk_write(upserts)

# Data to presentation layer

Let's now build the final fact table: the goal is to create a denormalized table ready for analysis.

In [ ]:
client = pymongo.MongoClient("mongodb://xxxx:xx@xxxx:27017,xxxx:27017,xxx:27017/myFirstDatabase?ssl=true&replicaSet=atlas-14k1wg-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.indiegogo

In [ ]:
st_project_cleaned = db.st_project_cleaned
st_concepts = db.st_concepts

In [ ]:
st_project_cleaned.count_documents({})

4560

In [ ]:
st_concepts.count_documents({})

842

In [ ]:
db.collection.find({}).forEach(function(x) {
    t = db.collection2.findOne({chiave: x.chiave})
})

In [ ]:
### Example MongoDB -- NOT RUN!!!!

In [ ]:
result = db.sc_images.aggregate([
    {
        '$match': {
            'value': {
                '$gt': 0.95
            }
        }
    }, {
        '$group': {
            '_id': '$project_id', 
            'count': {
                '$sum': 1
            }
        }
    }, {
        '$out': 'st_after_aggregate'
    }
])

In [ ]:
# Join collections

In [ ]:
df_concepts =  pd.DataFrame(list(st_concepts.find({}))).drop(columns=['_id'])
df_projects_cleaned =  pd.DataFrame(list(st_project_cleaned.find({})))

In [ ]:
df_projects_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4560 entries, 0 to 4559
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   _id                   4560 non-null   int64
 1   category              4560 non-null   object
 2   close_date            4559 non-null   object
 3   currency              4560 non-null   object
 4   funds_raised_amount   4560 non-null   int64
 5   funds_raised_percent  4560 non-null   float64
 6   open_date             4559 non-null   object
 7   project_id            4560 non-null   int64
 8   tagline               4559 non-null   object
 9   tags                  4557 non-null   object
 10  title                 4560 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 392.0+ KB

In [ ]:
df_ft_projects = df_projects_cleaned.merge(df_concepts, on='project_id', how='left')

In [ ]:
df_ft_projects.head()

       _id  ... concepts
0  1166581  ...      NaN
1  1143140  ...      NaN
2  2558245  ...      NaN
3  2650630  ...      NaN
4  1676513  ...      NaN

[5 rows x 12 columns]

In [ ]:
df_ft_projects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4560 entries, 0 to 4559
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   _id                   4560 non-null   int64
 1   category              4560 non-null   object
 2   close_date            4559 non-null   object
 3   currency              4560 non-null   object
 4   funds_raised_amount   4560 non-null   int64
 5   funds_raised_percent  4560 non-null   float64
 6   open_date             4559 non-null   object
 7   project_id            4560 non-null   int64
 8   tagline               4559 non-null   object
 9   tags                  4557 non-null   object
 10  title                 4560 non-null   object
 11  concepts              1 non-null      object
dtypes: float64(1), int64(3), object(8)
memory usage: 463.1+ KB

In [ ]:
records = json.loads(df_ft_projects.T.to_json()).values()
upserts=[UpdateOne({'_id':x['_id']}, {'$setOnInsert':x}, upsert=True) for x in records]
db.ft_projects.bulk_write(upserts)